#body{
    display: flex;
    justify-content: space-around;
    width: 97%;
    height: 434px;
    margin: 20px auto;
}
.bb{
    width: 97%;
    height: 100%;
    margin: 0 12px;
}
.bd1{
    background-image: url("../pic/pic-details/bg-d1.svg");
}
.bd2{
    background-image: url("../pic/pic-details/bg-d2.svg");
}
.bd3{
    background-image: url("../pic/pic-details/bg-d3.svg");
}
.bd4{
    background-image: url("../pic/pic-details/bg-d4.svg");
}
#foot{
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 435px;
    margin: 20px auto;
}
.f1{
    width: 74.5%;
    height: 100%;
    background-image: url("../pic/pic-details/bg-f1.svg");
}
.f2{
    width: 24%;
    height: 100%;
    background-image: url("../pic/pic-details/bg-f2.svg");
}

