*{
    padding: 0;
    margin: 0;
    background-image: url("../pic/pic-main/img.png");

}
#head{
    width: 100%;
    height: 96px;
    background-image: url("../pic/pic-main/head.svg");
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    position:relative;
    color: #bbbbbb;

}
#show{
    height: 20px;
    position:absolute;
    left:60px;
    bottom:15px;
}
#hr a{
    height: 20px;
    color: #bbbbbb;
    position:absolute;
    right:60px;
    bottom:15px;
    text-decoration: none;
}